<div *ngIf="movie">
  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>
      <div class="row g-4">
        <div class="col-md-3">
          <img [src]="movie.poster" alt="" />
        </div>

        <div class="col-md-9">
          <h1 class="fw-bold">{{ movie.title | uppercase }}</h1>
          <app-rating class="fs-4" [rating]="getRating()"></app-rating>
          <p class="fs-5 col-md-8">
            {{ movie.description }}
          </p>
        </div>
      </div>
      <hr class="mb-5" />
      <div class="row g-4">
        <div class="col-md-6">
          <h2>Napisz recenzje</h2>
          <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)">
            <div class="mb-3">
              <label for="user" class="form-label">Imie</label>
              <input
                type="text"
                class="form-control"
                id="user"
                name="user"
                ngModel
              />
            </div>
            <div class="mb-3">
              <app-rating
                [interactable]="true"
                [(rating)]="rating"
              ></app-rating>
            </div>
            <div class="mb-3 form-floating">
              <textarea
                class="form-control"
                placeholder="Napisz komentarz tutaj"
                name="comment"
                id="comment"
                ngModel
              ></textarea>
              <label for="comment">Komentarz</label>
            </div>
            <button type="submit" class="btn btn-primary">Oceń</button>
          </form>
        </div>

        <div class="col-md-6">
          <h2>Recenzje</h2>
          <div *ngFor="let review of movie.reviews">
            <h6>{{ review.user }}</h6>
            <app-rating [rating]="review.rating"></app-rating>
            <p>{{ review.comment }}</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
